<div >
  <p>
    We use automated reporting dashboards to share our summarized paid media efforts. Keep up to date on
    daily/weekly/monthly reports on the fly that contain every bit of data represented in an easy-to-understand manner.
  </p>
  <p>
    Attribution is vital to success. We highly recommend platforms like Triple Whale or Northbeam for your omni-channel
    tracking and attribution needs to manage post-iOS14 challenges most brands face today. These platforms are very
    effective in seeing that lost attribution due to 40% of the population opting out of tracking. We can tie every
    purchase to the customer and their entire journey from first seeing an ad to making the purchase.
  </p>
  <div class="platform-logos reporting">
    <img src="/_next/static/media/3.933ffeff.png" alt="Triple Whale">
    <img src="/_next/static/media/2.9e4d3dc2.png" alt="North Beam">
  </div>
</div>
