<style>
  #shopify-section-{{ section.id }} .platform-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 10px;
    list-style-type: none;
  }

  #shopify-section-{{ section.id }} .platform-logos img {
    width: 70px;
  }
</style>

<div>
  <p>
    We manage the purchasing of ad space on digital advertising platforms to generate revenue through the distribution
    of advertising content. 
  </p>
  <p>We buy ad space on the following ad platforms as needed where your brand and budget can benefit.</p>
  <ul class="platform-logos">
    <li class="logo opt">
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/15.e2ed1be9.webp" width="70" height="70" alt='Facebook' loading="lazy">
      
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/14.f0c1ec65.webp" width="70" height="70" alt='Instagram' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/13.c5155b64.webp" width="70" height="70" alt='Google' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/12.44efd562.webp" width="70" height="70" alt='YouTube' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/11.0dab446c.webp" width="70" height="70" alt='TikTok' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/10.42f0a558.webp" width="70" height="70" alt='Pinterest' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/9.1b1c62a7.webp" width="70" height="70" alt='LinkedIn' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/8.337576ce.webp" width="70" height="70" alt='Bing' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/7.72b6d39d.webp" width="70" height="70" alt='SnapChat' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/5.bbcbbc54.webp" width="70" height="70" alt='SMS' loading="lazy">
    </li>
    <li class="logo opt">
      
      <img src="https://cdn.shopify.com/s/files/1/0741/9350/2504/files/6.7ae4d556.webp" width="70" height="70" alt='Hulu' loading="lazy">
    </li>
  </ul>
  <p><strong>Account Management:</strong></p>
  <ul>
    <li>Budget allocation/planning</li>
    <li>Spend management</li>
    <li>Daily optimizations</li>
    <li>Ad copy strategy/management</li>
    <li>Shopping catalog management</li>
    <li>Tracking implementation and management</li>
  </ul>
  <p>Our process with paid ads will look something like this:</p>
  <ol>
    <li>
      <strong>Discover</strong> - We learn what’s working and use data to help us understand why it's working. We apply
      this to ad copy, creatives, and audience targeting.
    </li>
    <li>
      <strong>Optimization</strong> - The goal is to make you money and be efficient with our spending to make sure we
      are allocating more of the budget to winners and take from the losers to filter them out and learn from it.
    </li>
    <li><strong>Pressure Testing</strong> - A/B Testing phases with specific winners.</li>
    <li>
      <strong>Scaling</strong> - Budget pacing on all winners while maintaining constant testing with an allocated
      testing budget.
    </li>
  </ol>
</div>
