<div style="color: rgb(255, 255, 255);">
  <ul>
    <li>
      We work with any creative/content team by sharing industry trends and tips and using data analytics to make
      data-backed creative decisions. We share what creatives are working and which are not, and let the data help us
      understand the why so we aren't letting personal opinions get in the way of what ultimately gets you the best
      results.
    </li>
    <li>
      We plan out a full-funnel creative strategy to give your customers the shopping experience that will ultimately
      drive conversions at scale.
    </li>
    <li>
      Use the data analytics to develop creative, messaging, and target audience strategies that yield the best possible
      results.
    </li>
    <li>
      Every creative team has its style. Only some styles are suitable for some brands; we have hand-picked creative
      partners, each of whom we have experience with being the best at the specific type of creative they make.
    </li>
  </ul>
</div>
