<div>
  <p>
    We go to great lengths to understand your target customer through competitor research and industry insights to get a
    head start. We also do our due diligence to determine our most likely persona and combine that with appropriate
    audiences, language, tone, message/angle approach, and creative type to reach our target customers best.
  </p>
  <p>
    With the assistance of special tools we use and 3rd party data sources, we can put together more accurate and
    targeted custom audiences to reach your ideal customers more effectively to feed the algorithm learnings quickly.
  </p>
</div>
